.status {
  composes: card from "../UI/Card.module.css";
  width: 250px;
  font-weight: "bold";
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  background-color : rgba(225, 0, 255, 0.178);

  padding: 0.5rem;
  margin: 1rem 0;
}

.border {
  border: 15px transparent solid;
}
