.substatus_list {
    width:fit-content;
    align-items:center;
    display:flex;
    align-items: flex-start;
    padding:5px;
    border: 5px solid transparent;
    border-radius: 5px;
    /* justify-content: space-around; */
}

.substatus_list:hover {
  border: 5px solid #ff03a7ce;
  border-radius: 5px;
  /* margin: -5px; */
}
